* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav {
  padding: 2rem 4rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  /* border-bottom: 3px solid rgb(201, 16, 16); */
}
.overlay {
  height: 100% ;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 82.4px;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;}
.overlay a {
  padding: 1.3rem 0;
  text-decoration: none;
  font-size: 35px;
  color: #a19999;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #fff;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 50px;
  font-size: 60px;
}
span {
  padding-left: 50px;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}