body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(170, 108, 149);
  
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: light 4s linear infinite;
  background: radial-gradient(circle, #6accf3 0%, #35343600 70%);
}
.spinner::before {
  content: '';
  position: absolute;
  background-color: hsl(150, 43%, 67%);
  width: 40px;
  height: 40px;
  left: -20px;
  border-radius: 20px;
  filter: blur(5px);
}
.spinner::after {
  content: '';
  position: absolute;
  background-color: hsl(100, 34%, 52%);
  width: 19px;
  height: 19px;
  left: 140px;
  border-radius: 20px;
  filter: blur(5px);
}
@keyframes light {
  0% {
    transform: rotate(360deg);
  }
}