body {
  margin: 0;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(239, 243, 186);
}
h2 {
  color: rgb(105, 104, 104);
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(168, 214, 168);
}
.header h2 {
  text-align: center;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: rgb(148, 147, 147);
}
.progress-bar {
  height: 8px;
  background: #ffff;
  width: 0%;
}
.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}

