body {
  background: linear-gradient(0.25turn, #3d748b, #ebf8e1, #ebc398);
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: #333;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:1px 4px 8px  0 rgba(131, 12, 12, 0.5);
}
span {
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(133, 10, 10);
  margin: 5px;
  border-radius: 5px;
  transition: 0.4s;
}
.container:hover span:nth-child(1){
  transform: rotate(38deg)translateX(9px);
  width: 25px;
}
.container:hover span:nth-child(2) {
  width: 35px;
}
.container:hover span:nth-child(3) {
  transform: rotate(-38deg)translateX(9px);
  width: 25px;
}