body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(78, 78, 245);
}
.btn {
  text-decoration: none;
  padding: 25px 70px;
  background-color: rgb(41, 187, 114);
  color: #fff;
  border-radius: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  background-image: radial-gradient(circle closest-side, #b05af7, transparent);
  width: 0;
  height: 0;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
}
.btn:hover::before {
  width: 250px;
  height: 250px;
}