body{
  box-sizing: border-box;
  margin: 0;
  background-color: #A5C4D4;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  width: 80%;
  margin: auto;
  padding: 12px 20px 12px 20px;
  background: #8499B1;
  font-size: 25px;
}
ul li:nth-child(odd) {
  background: #7B6D8D;
}
ul li:hover {
  background: #593F62;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #36151E;
  color: #fff;
}
.header h2 {
  font-size: 40px;
  padding-bottom: 5px;
  margin: 5px;
}
.header {
  background-color: "00b867";
  padding: 30px 40px;
  color: rgb(78, 78, 78);
  text-align: center;
}
.header::after {
  content: '';
}
input {
  border: none;
  outline: none;
  width: 85%;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 8px;
}
.addBtn {
  padding: 10px;
  box-sizing: border-box;
  width: 15%;
  background: #f3ddef;
  color: rgb(54, 53, 53);
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}
.addBtn:hover {
  background-color: #36151E;
  color: #fff;
}

