body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: rgb(225, 248, 201);
}
.dice-container .dice {
 margin: 0 auto;
 margin-bottom: 1rem;
 background: rgb(124, 139, 108);
 color: #fff;
 border-radius: 8px;
}
div.dice {
  width: 32px;
  background: #f5f5f5;
  border: 1px solid #999;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  border: 2px solid rgb(11, 102, 72);
}
button {
  position: absolute;
  top: 250px;
  left: 590px;
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 2px 3px 8px rgb(11, 102, 72);
  border: none;
  outline: none;

}
#status {
  position: absolute;
  top: 270px;
  left: 580px;
  color: #333;
}
