* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAD49D;
}
.header {
    position: absolute;
    top: 7rem;
    color: #726e5a;
}
a {
    position: relative;
    height: 6rem;
    width: 6rem;
    color: #878787;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 6rem;
    transform: rotate(-15deg) skew(22deg);
    transition: all 500ms;
    background-color: #fff;
}
a:hover {
    box-shadow: -50px 50px 40px #0000;
    background-color: #878787;
    color: #fff;
}
a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -19px;
    height: 100%;
    width: 20%;
    background-color: #726e5a;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
    transition: 500ms;
}
a::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: -10px;
    height: 20%;
    width: 100%;
    background-color: #787878;
    transform: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
    transition: 500ms;
}
a:hover {
    transform: rotate(-15deg) skew(22deg) translate(20px, -15px);
    box-shadow: -40px 40px 20px rgba(0, 0, 0, 0.7);
}
a:hover::before {
    background-color: #726e5a;
    border:0.5px solid #fff;
}
a:hover::after {
    background-color: #726e5a;
    border:0.5px solid #fff;
}